
<h1 class="p-3 alert alert-info text-center">Passenger Task</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <app-passenger-list [passengerList]="passengers"></app-passenger-list>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <app-passenger-card 
            *ngFor="let card of passengers"
            [passengerCard]="card"
            (emitter)="deletePassenger($event)"
            ></app-passenger-card>
        </div>
    </div>
</div>